    <nav class="navbar navbar-inverse navbar-fixed-top">
          <a class="navbar-brand" href="#/">Quiz App</a>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li><a href="#/question">Questions</a></li>
            <li><a href="#/votes">Votes</a></li>
          </ul>
          </ul>
           <ul class="nav navbar-nav navbar-right">
            <li><a href="#/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <div class="container">
      <h3>Create a Quiz</h3>
      <br>
      <div ng-show="showQuestionText">
        <h4>Question</h4>
        <p><strong>{{question.text}}</strong></p>
      </div>
      <div ng-show="showQuestionForm">
        <form name="questionForm" ng-submit="questionForm.$valid && mainCtrl.addQuestion(question.text)" novalidate>
          <div class="form-group">
            <label for="questionText" class="col-sm-3 control-label">Question</label>
            <div class="col-sm-9">
              <textarea ng-model="question.text" class="form-control" id="questionText" rows="3"
              placeholder="Enter your question here" ng-minlength="5" ng-maxlength="300" required="required"></textarea>
            </div>
          </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div ng-show="showOptionList">
        <h4>Options:</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="option in optionList">{{option}}</li>
        </ul>
      </div>
      <form ng-show="showOptionFrom" name="optionForm" ng-submit="optionForm.$valid && mainCtrl.addOption(optionText)" novalidate>
        <div class="form-group">
          <label for="optionText3" class="col-sm-3 control-label">
              Option</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="optionText3" placeholder="Your option" ng-model="optionText" ng-minlength="1" ng-maxlength="60" required="required"/>
          </div>
        </div>
          <div class="form-group last">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="submit" class="btn btn-primary pull-right">Add an option</button>
            </div>
          </div>
      </form>
      <form ng-show="showCreateButton" ng-submit="mainCtrl.createQuestion()">
        <div class="form-group last">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success">Create question</button>
          </div>
        </form>
      </div>
      <div class="shareBox col-sm-offset-3 col-sm-9" ng-show="confirmationBox">
        <div class="alert alert-success col-sm-6">
            <p>Quiz created successfully. Share below link with with your friends to answer. </p>
            <strong>Link : {{questionLink}} </strong>
        </div>
      </div>
    </div><!-- /.container -->