<nav class="navbar navbar-inverse navbar-fixed-top">
      <a class="navbar-brand" href="#/">Quiz App</a>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/">Home</a></li>
        <li><a href="#/question">Questions</a></li>
        <li class="active"><a href="#/votes">Votes</a></li>
        <li><a href="#/search">Search</a></li>
      </ul>
      </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="#/logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
<div ng-show="!{{questions.length}}">
  <h4 class="text-center"> You have not recieved any votes. Share links of questions with your friends to receive votes.
  </h4>
  <h4 class="text-center">
  Click <a href="#/">here </a> to create a question and share with your friends.
  </h4>
</div>
<div class="container" ng-show="{{votes.length}}">
  <table class="table table-bordered">
    <tr>
      <th> Question </th>
      <th> Option </th>
      <th> Voted by </th>
    </tr>
    <tr ng-repeat="vote in votes">
      <td> {{vote.question_text}}</td>
      <td> {{vote.option}}</td>
      <td> {{vote.voted_by}}</td>
    </tr>
  </table>
</div>